#public #header {
  background: #f4f4f4;
  box-shadow: 0 4px 2px -2px #bbb;
  height: 60px;
  padding: 0 20px;
}

#public #header #logo {
  background: #eee;
  float: left;
  height: 100%;
  width: 160px;
}

#public #content {
  padding: 20px;
}

#public #footer {
  background: #ddd;
  height: 200px;
  width: 100%;
}
